.recipe-post-form {
    min-width: 250px;
    max-width: 500px;
    width: 100%;
}

.recipe-post-text-area {
    width: 100%;
}

textarea {
    height: auto; 
    /* height: 380px !important;  */
    /* min-height: 380px !important; 
    max-height: 380px !important;  */
  }
  

.post-tittle {
    font-size: 24px;
    margin: 15px;
    display: flex;
    align-items: center;
}

mat-dialog-container {
    width: 600px;
    height: 500px;

}

mat-card-title{
font-size: 1.2rem;
margin-bottom: 13px;
}


/* .post-card {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
  }
   */
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-info img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }
  
  /* .full-width-input {
    width: 100%;
  } */
  
  .action-icons {
    display: flex;
    justify-content: start;
    gap: 10px;
    margin-top: 10px;
  }
  
  .post-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .cancel-button {
    color: #201a1b; /* Light color for buttons */
  }
  
  .post-button:disabled {
    color: #555; /* Disabled color */
  }
  
.add-post{
    display: block;
    flex-grow: 1;
    box-sizing: content-box;
    margin: 0;
    overflow: auto;
    max-height: 65vh;
    /* overflow: hidden; */
}

/* .image-previews {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.image-preview {
  max-width: 100px;
  max-height: 100px;
} */


.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider-image {
  max-width: 80%;
  text-align: center;
}

mat-icon-button {
  background-color: #f1f1f1;
}
