<!-- <h2 mat-dialog-title>Add New Recipe</h2>
<mat-dialog-content>
  <span class="post-tittle"> What Type of food you are cooking?</span>
  <form class="recipe-post-form">
    <mat-form-field class="recipe-post-text-area">
      <mat-label><mat-icon>edit</mat-icon>Write down your Recipe's</mat-label>
      <textarea matInput #post maxlength="2000" placeholder="what are the health benfits of eating..."></textarea>
      <mat-hint align="start"><strong>use different text formating</strong> </mat-hint>
      <mat-hint align="end">{{post.value.length}} / 2000</mat-hint>
    </mat-form-field>
  </form>

</mat-dialog-content> -->

<!-- <input type="file"/> -->
<!-- <mat-dialog-actions align="start">
  <button mat-flat-button><mat-icon>image</mat-icon>Add Images</button>
  <button mat-icon-button matTooltip="Add Tags" matTooltipPosition="right" ><mat-icon>tag</mat-icon></button> 
  <button mat-icon-button matTooltip="Add Health benfits" matTooltipPosition="right" ><mat-icon>health_and_safety</mat-icon></button>
  <button mat-icon-button matTooltip="Add Overall Ratings" matTooltipPosition="right"><mat-icon>stars</mat-icon></button>
</mat-dialog-actions>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close cdkFocusInitial color="primary">
    <mat-icon fontIcon="add_circle"></mat-icon>Add Post</button>
   <button mat-button mat-dialog-close><mat-icon fontIcon="cancel"></mat-icon>Cancel</button>
</mat-dialog-actions> -->


<mat-dialog-content class="add-post">
  <!-- <mat-card class="post-card"> -->
  <span class="post-tittle"> What Type of food you are cooking?</span>
  <mat-card-header *ngFor="let user of users">
    <div class="user-info">
      <img mat-card-avatar [src]="user.picture.thumbnail" class="profile-header-image"
        alt="{{user.name.first}} {{user.name.last}}">
      <!-- <h5>{{user.name.first}} {{user.name.last}}</h5> -->
      <mat-card-title>{{user.name.first}} {{user.name.last}}</mat-card-title>
    </div>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field appearance="outline" class="full-width-input">
      <textarea matInput #post maxlength="2000" placeholder="what are the health benfits of eating..."
        rows="3"></textarea>
    </mat-form-field>

    <!-- Image preview without slider-->
    <!-- <div *ngIf="imagePreviews.length > 0" class="image-previews">
      <div *ngFor="let image of imagePreviews" class="image-preview">
      <img [src]="image" alt="Image Preview" style="max-width: 50%; height: auto;">
      </div>
    </div> -->

      <!-- Image Slider -->
  <div *ngIf="imagePreviews.length > 0" class="slider">
    <button mat-icon-button (click)="prevImage()" [disabled]="currentImageIndex === 0">
      <mat-icon>arrow_back</mat-icon>
    </button>
    
    <div class="slider-image">
      <img [src]="imagePreviews[currentImageIndex]" alt="Image Preview" style="max-width: 100%; height: auto;">
    </div>
    
    <button mat-icon-button (click)="nextImage()" [disabled]="currentImageIndex === imagePreviews.length - 1">
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>


    <div class="action-icons">
      <!-- Hidden file input -->
      <input mat-flat-button aria-label="Insert Image" #fileInput type="file" accept="image/*" multiple hidden
        (change)="onSelectedImages($event)">
      <!-- Button that opens the file input -->
      <button mat-flat-button type="button" (click)="fileInput.click()">
        <mat-icon>image</mat-icon>Add Images
      </button>
      <button mat-icon-button aria-label="Insert Emoji" matTooltip="Coming Soon">
        <mat-icon>emoji_emotions</mat-icon>
      </button>
      <button mat-icon-button aria-label="Insert Poll" matTooltip="Coming Soon">
        <mat-icon>poll</mat-icon>
      </button>
      <button mat-icon-button aria-label="ratings" matTooltip="Coming Soon">
        <mat-icon>stars</mat-icon>
      </button>
    </div>
  </mat-card-content>
  <!-- </mat-card> -->
</mat-dialog-content>

<!-- <mat-dialog-actions align="start">
  <button mat-flat-button><mat-icon>image</mat-icon>Add Images</button>
  <button mat-icon-button matTooltip="Add Tags" matTooltipPosition="right" ><mat-icon>tag</mat-icon></button> 
  <button mat-icon-button matTooltip="Add Health benfits" matTooltipPosition="right" ><mat-icon>health_and_safety</mat-icon></button>
  <button mat-icon-button matTooltip="Add Overall Ratings" matTooltipPosition="right"><mat-icon>stars</mat-icon></button>
</mat-dialog-actions> -->

<mat-dialog-actions align="end">
  <button mat-button class="cancel-button">Cancel</button>
  <button mat-button color="primary" class="post-button" [disabled]="!canPost">Post</button>
</mat-dialog-actions>