
<app-sidenav></app-sidenav>
<app-post-container></app-post-container>
<app-bottom-nav></app-bottom-nav>

<!-- <div class="main-wrapper">
  <mat-card appearance="outlined" class="post-container">
    <mat-card-content>
    </mat-card-content>
  </mat-card>
</div> -->
<!-- <div class="notification-container">
  <mat-button-toggle-group name="ingredients" aria-label="Ingredients" 
    [hideMultipleSelectionIndicator]="hideMultipleSelectionIndicator()" multiple>
    <mat-button-toggle value="likes" checked="true"  matTooltip="Likes" ><mat-icon>favorite</mat-icon></mat-button-toggle>
    <mat-button-toggle value="comments"  checked="true" matTooltip="Comments" ><mat-icon>comment</mat-icon></mat-button-toggle>
    <mat-button-toggle value="following" checked="true" matTooltip="Following" ><mat-icon>groups</mat-icon></mat-button-toggle>
  </mat-button-toggle-group>
</div> -->
<div class="notification-activity-container">

  <div class="noti-title">
  <h5>All Notificaiton is here</h5> 
  <button mat-flat-button class="mark-as-read" (click) ="markAsRead()"><mat-icon>done_all</mat-icon>Mark as Read</button>
  </div>


  <ng-container *ngIf="notificationService.notifications().length > 0; else noNotifications">
    <mat-card *ngFor="let notification of notificationService.notifications()" 
             class="notification-card"
             appearance="outlined">
      <mat-card-header class="profile-header">
        <div class="noti-icon">
          <mat-icon>
            {{ getNotificationIcon(notification.type) }}
          </mat-icon>
        </div>
        
        <div class="profile-info">
          <!-- <p>{{ notification.createdAt | date:'shortTime' }}</p> -->
          <p class="time">{{ getRelativeTime(notification.createdAt) }}</p>
          <mat-card-title>
            {{ notification.user.name }} {{ notification.type }} your post
          </mat-card-title>
          <mat-card-subtitle>
            <!-- <span *ngIf="notification.comment">{{ notification.comment }}</span> -->
            <span *ngIf="notification.type === 'commented' && notification.comment">
              "{{ notification.comment }}"
            </span>
            <span *ngIf="notification.type !== 'commented' || !notification.comment">&#64;{{ notification.userTag }} do click on image/button
            </span>
            <!-- <span *ngIf="!notification.comment">&#64;{{ notification.userTag }}
            </span> -->
          </mat-card-subtitle>
        </div>

        <div class="post-image">
          <a [routerLink]="[notification.postUrl]">
            <ng-container *ngIf="notification.thumbnail; else noThumbnail">
              <img mat-card-image [src]="notification.thumbnail" alt="See the Post">
          </ng-container>
          <ng-template #noThumbnail>
            <button mat-flat-button class="view-post"><mat-icon>visibility</mat-icon>View Post</button>
          </ng-template>
              <!-- <img mat-card-image [src]="notification.thumbnail" alt="See the Post">
              <button mat-flat-button *ngIf="notification.textThumbnail">See the Post
              </button> -->
          </a>
        </div>
      </mat-card-header>
    </mat-card>
  </ng-container>
  
  <ng-template #noNotifications>
    <div class="no-notifications">
      <mat-icon>notifications_off</mat-icon>
      <p>No notifications yet</p>
    </div>
  </ng-template>

  <!-- * template of notification card is here  -->
  <!-- <mat-card class="following-card-notification" appearance="outlined">
    <mat-card-header class="profile-header">
      <mat-card-title>pratap360</mat-card-title>
      <mat-card-subtitle>Developer|Food Critics</mat-card-subtitle>
      <button mat-button><mat-icon class="follow-icon">person</mat-icon>Followed You</button>
    </mat-card-header>
   </mat-card> -->

  <!-- <mat-card class="rated-card-notification" appearance="outlined">
    <mat-card-header class="profile-header">
      <div class="noti-icon">
        <mat-icon>comment</mat-icon>
      </div>
      <div class="profile-info">
      <mat-card-title>pratap360</mat-card-title>
      <mat-card-subtitle>Rated your post</mat-card-subtitle>
    </div>
          <div class="post-image">
        <img mat-card-image src="/assets/posts-img/food1.jpg" alt="Photo of a Shiba Inu">
      </div>
    </mat-card-header>
  </mat-card> -->

    <!-- not image card  -->
    <!-- <mat-card class="liked-card-notification" appearance="outlined">
      <mat-card-header class="profile-header">
        <div mat-card-avatar class="profile-header-image"></div>
        <div class="profile-info">
          <mat-card-title>pratap360</mat-card-title>
          <mat-card-subtitle>liked your post</mat-card-subtitle>
        </div>
        <p class="post-text">A hen lays around 300 to 325 eggs per year, and it takes her 24 to 26 hours to produce each egg</p>
      </mat-card-header>
    </mat-card> -->

    <!-- <mat-card class="liked-card-notification" appearance="outlined">
      <mat-card-header class="profile-header">
        <div class="noti-icon">
          <mat-icon>favorite</mat-icon>
        </div>
        <div class="profile-info">
          <p>1 hour ago</p>
          <mat-card-title>'pratap360' liked your post</mat-card-title>
          <mat-card-subtitle>'post url/title'</mat-card-subtitle>
        </div>
        <div class="post-image">
          <img mat-card-image src="/assets/posts-img/food1.jpg" alt="Photo of a Shiba Inu">
        </div>
      </mat-card-header>
      </mat-card>
  
    <mat-card class="commented-card-notification" appearance="outlined">
      <mat-card-header class="profile-header">
        <div class="noti-icon">
          <mat-icon>comment</mat-icon>
        </div>
        <div class="profile-info">
          <p>1 hour ago</p>
        <mat-card-title>pratap360 commented in your post</mat-card-title>
        <mat-card-subtitle>'post url/title'</mat-card-subtitle>
      </div>
      <div class="post-image">
        <img mat-card-image src="/assets/posts-img/food1.jpg" alt="Photo of a Shiba Inu">
      </div>
      </mat-card-header>
      </mat-card>
  
    <mat-card class="saved-card-notification" appearance="outlined">
      <mat-card-header class="profile-header">
        <div class="noti-icon">
          <mat-icon>bookmark_added</mat-icon>
        </div>
      <div class="profile-info">
        <p>1 hour ago</p>
        <mat-card-title>pratap360 saved your post</mat-card-title>
        <mat-card-subtitle>'post url/title'</mat-card-subtitle>
      </div>
      </mat-card-header>
      </mat-card> -->

      <!-- * pagination in upcoming feature  -->
<!-- <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25]"
              aria-label="Select page">
</mat-paginator> -->
</div>