<mat-card-actions class="action-buttons">
    <app-likes [post]="post" [userId]="userData.user_tag"></app-likes>
    <!-- <app-comments [postId]="post.id"></app-comments> -->
    <button mat-raised-button (click)="openCommentModal()">
        <mat-icon>comment</mat-icon>
        <!-- {{ comments_counter }} -->
        {{ post.post_comments }}
        <span>
        Comment{{ (post.post_comments || 0) !== 1 ? 's' : '' }}
        </span>
    </button>
    <app-saves [post]="post" [userId]="userData.user_tag"></app-saves>
    <!-- <app-saves [post]="post" [blogpost]="blogpost" [userId]="userData.user_tag"></app-saves> -->
    <app-read-more [post]="post"></app-read-more>
    <!-- <app-read-more [post]="post" [blogpost]="blogpost"></app-read-more> -->
    <!-- <app-read-more [post]="post" (click)="navigateToFullPost()"></app-read-more> -->
    <!-- <app-read-more></app-read-more> -->
    <!-- <app-read-more [documentId]="post.id!"></app-read-more> -->
</mat-card-actions>