.not-found-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
  }
  
  h3 {
    color: white;
    font-size: 2rem;
  }
  
  /* button {
    background-color: #ff5722;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #e64a19;
  } */
  

  @media screen and (max-width: 768px) {
    .not-found-container {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-size: contain; 
      background-repeat: repeat; 
      background-position: center; 
  }
}