<mat-toolbar color="primary" class="app-toolbar">
  <button mat-icon-button (click)="toggleSidenav()" class="hamburger">
    <mat-icon>menu</mat-icon>
  </button>
  <h2 class="app-tittle">Yummunity</h2>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <!-- Sidenav -->
  <mat-sidenav #drawer class="sidenav" mode="side" [opened]="opened">
    <nav class="sidenav-menu">
      <!-- Hamburger button inside sidenav to close -->
      <!-- <button mat-icon-button (click)="drawer.toggle()" class="hamburger">
        <mat-icon>menu</mat-icon>
      </button> -->

      <!-- Plus icon -->
      <!-- <button mat-icon-button class="add-button">
        <mat-icon>add</mat-icon>
      </button> -->

      <!-- Menu items -->
      <mat-list>
        <mat-list-item>
          <mat-icon>inbox</mat-icon>
          <span>Feed</span>
        </mat-list-item>

        <mat-list-item>
          <mat-icon>search</mat-icon>
          <span>Search</span>
        </mat-list-item>

        <mat-list-item>
          <mat-icon>notifications</mat-icon>
          <span>Notifi</span>
          <!-- <span class="notification-badge">3</span> -->
        </mat-list-item>

        <mat-list-item>
          <mat-icon>account_circle</mat-icon>
          <span>Account</span>
        </mat-list-item>
      </mat-list>
    </nav>
  </mat-sidenav>

  <!-- Main content with toggle button for sidenav -->
  <!-- <mat-sidenav-content class="content">
    <button mat-icon-button (click)="drawer.toggle()" class="hamburger">
      <mat-icon>menu</mat-icon>
    </button> -->

    <!-- Page content here -->
   <!-- <ng-content></ng-content>  -->
  <!-- </mat-sidenav-content> -->
</mat-sidenav-container>
