<mat-toolbar color="primary" class="app-toolbar">
  <button mat-icon-button (click)="toggleSidenav()" class="hamburger">
    <mat-icon>menu</mat-icon>
  </button>
  <h2 class="app-tittle">Yummunity</h2>
</mat-toolbar>

 <mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" mode="side" [opened]="opened">
    

    <nav class="sidenav-menu">
      <mat-nav-list>
        <a mat-list-item routerLink="/home-feed"><mat-icon>home</mat-icon><span>Home</span></a>
        <a mat-list-item routerLink="/search"><mat-icon>search</mat-icon>Search</a>
        <a mat-list-item routerLink="/notifications"><mat-icon>notifications</mat-icon>notifications</a>
        <a mat-list-item routerLink="/account"><mat-icon>account_circle</mat-icon>account</a>
      </mat-nav-list>
    </nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- <mat-toolbar color="primary">
      @if (isHandset$ | async) {
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
      <span>Yummunity</span>
      <div class="main-content">
        <h1>Home Feed Works!</h1>
      </div>
    </mat-toolbar> -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

