/* .divider {
  margin-top: 5px;
  position: relative;
  z-index: 0;
  max-width: 740px;
  left: 50%;
  transform: translate(-50%);
}

p.suggestions-header {
  margin-top: 5px;
  position: relative;
  z-index: 0;
  max-width: 740px;
  left: 50%;
  transform: translate(-50%);
} */


.suggestions-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0.6rem;
  align-content: center;
  justify-content: center;
}

.profile-card {
  margin: 7px;
  max-width: 700px;
}

.profile-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap
}

.profile-header-image {
  /* background-image: url('https://portfolio.paruidev.com/resources/about-me.jpg'); */
  background-size: cover;
}


@media (max-width: 768px) {

  .suggestions-container {
    /* margin: 20px auto; */
    padding: 0 10px;
  }

  span {
    display: none;
  }

  button {
    padding: 0.5rem;
  }

  mat-icon {
    margin: 0 !important;
  }

  .profile-card {
    max-width: 450px;
  }
}