<div class="suggestions-container">
    <mat-card class="profile-card" appearance="outlined">
        <mat-card-header class="profile-header">
            <div mat-card-avatar class="profile-header-image"></div>
            <mat-card-title>Pratap Parui</mat-card-title>
            <mat-card-subtitle>Developer|Food Critics</mat-card-subtitle>
            <button mat-flat-button><mat-icon>person_add</mat-icon>Follow</button>
        </mat-card-header>
    </mat-card>

    <mat-card class="profile-card" appearance="outlined">
        <mat-card-header class="profile-header">
            <div mat-card-avatar class="profile-header-image"></div>
            <mat-card-title>Pratap Parui</mat-card-title>
            <mat-card-subtitle>Developer|Food Critics</mat-card-subtitle>
            <button mat-flat-button><mat-icon>person_add</mat-icon>Follow</button>
        </mat-card-header>
    </mat-card>

</div>