<!-- <div class="bottom-nav" *ngIf="isMobile">
    <nav mat-tab-nav-bar>
        <a mat-tab-link routerLink="/home-feed" routerLinkActive="active"><mat-icon>home</mat-icon></a>
        <a mat-tab-link routerLink="/search" routerLinkActive="active"><mat-icon>search</mat-icon></a>
        <a mat-tab-link routerLink="/notifications" routerLinkActive="active"><mat-icon>notifications</mat-icon></a>
        <a mat-tab-link routerLink="/account" routerLinkActive="active"><mat-icon>account_circle</mat-icon></a>
        <a mat-tab-link routerLink="/" (click)="logout()" routerLinkActive="active"><mat-icon>logout</mat-icon></a>
    </nav>
</div> -->
<!-- <div class="bottom-nav" *ngIf="isMobile">
    <nav mat-tab-nav-bar [tabPanel]="tabPanel">
        <a mat-tab-link routerLink="/home-feed" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive"><mat-icon>home</mat-icon></a>
        <a mat-tab-link routerLink="/search" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive"><mat-icon>search</mat-icon></a>
        <a mat-tab-link routerLink="/notifications" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive"><mat-icon>notifications</mat-icon></a>
        <a mat-tab-link routerLink="/account" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive"><mat-icon>account_circle</mat-icon></a>
        <a mat-tab-link routerLink="/" (click)="logout()" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive"><mat-icon>logout</mat-icon></a>
    </nav>
    <mat-tab-nav-panel #tabPanel>
        <router-outlet></router-outlet>
      </mat-tab-nav-panel>
</div> -->


<div class="bottom-nav" *ngIf="isMobile">
    <nav mat-tab-nav-bar [tabPanel]="tabPanel">
        <a mat-tab-link routerLink="/home-feed" routerLinkActive="active-link" #rla="routerLinkActive"
            [active]="rla.isActive">
            <mat-icon>home</mat-icon>

        </a>
        <a mat-tab-link routerLink="/search" routerLinkActive="active-link" #rla="routerLinkActive"
            [active]="rla.isActive">
            <mat-icon>search</mat-icon>

        </a>
        <a mat-tab-link routerLink="/notifications" routerLinkActive="active-link" #rla="routerLinkActive"
            [active]="rla.isActive">
            <mat-icon>notifications</mat-icon>

        </a>
        <a mat-tab-link routerLink="/account" routerLinkActive="active-link" #rla="routerLinkActive"
            [active]="rla.isActive">
            <mat-icon>account_circle</mat-icon>

        </a>
        <!-- <a mat-tab-link routerLink="/"
            (click)="logout()">
            <mat-icon>logout</mat-icon>
        </a> -->
    </nav>
    <mat-tab-nav-panel #tabPanel>
        <router-outlet></router-outlet>
    </mat-tab-nav-panel>
</div>