<mat-card *ngFor="let post of posts" class="posts-card" appearance="outlined">
  <mat-card-header>

    <img mat-card-avatar class="profile-header-image" [src]="userData?.user_profile_pic" [alt]="userData?.user_tag">
    <mat-card-title>{{userData?.user_name}}</mat-card-title>
    <mat-card-subtitle>{{userData?.user_bio}}</mat-card-subtitle>

    <!-- <mat-card-subtitle>{{userData ? userData.user_bio : ''}}</mat-card-subtitle> -->
    <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="sharePost(post)">
        <mat-icon>share</mat-icon>
        <span>Share Post</span>
      </button>
      <button mat-menu-item>
        <mat-icon>report</mat-icon>
        <span>Report</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>campaign</mat-icon>
        <span>Promote</span>
      </button>
    </mat-menu>
  </mat-card-header>
  <!-- <img mat-card-image src="/assets/posts-img/food1.jpg"
      alt="White and Brown Cooked Dish on White Ceramic Bowls"> -->
  <ng-container *ngIf="post.post_Content_Pictures.length > 0">
    <img mat-card-image [src]="post.post_Content_Pictures[0]" alt="Post Image">
  </ng-container>

  <!-- <mat-card-content class="card-content">
    <markdown [data]="post.post_Content" ngPreserveWhitespaces></markdown>
  </mat-card-content> -->

  <mat-card-content class="card-content">
    <ng-container *ngIf="!shouldTruncate(post.post_Content) || isExpanded(post.id ?? '')">
      <markdown [data]="post.post_Content" ngPreserveWhitespaces></markdown>
    </ng-container>
    <ng-container *ngIf="shouldTruncate(post.post_Content) && !isExpanded(post.id ?? '')">
      <markdown [data]="getTruncatedContent(post.post_Content)" ngPreserveWhitespaces></markdown>
    </ng-container>
  
    <div *ngIf="shouldTruncate(post.post_Content)" class="read-more-section">
      <button mat-button color="primary" (click)="toggleExpand(post.id ?? '')">
        <mat-icon>read_more</mat-icon>  {{ isExpanded(post.id ?? '') ? 'Read Less' : 'Read More' }}
      </button>
    </div>
  </mat-card-content>

  <app-post-activity [post]="post"></app-post-activity>
</mat-card>