mat-card.posts-card {
  margin-top: 20px;
  margin-bottom: 40px;
}

.posts-card {
  width: 100%;
  max-width: 700px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 10px;
}

/* .back-button {
  position: absolute;
  top: 10px;
  left: 10px;
} */

.profile-header-image {
  background-image: url('https://portfolio.paruidev.com/resources/about-me.jpg');
  background-size: cover;
}

.card-content {
  padding: 7px;
  margin: 10px;
  font-size: 18px;
}


.action-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-evenly;
  padding: 20px;
  margin: 10px;
}


.menu-button {
  margin-left: auto;
}



.recipe-post-comments-area {
  width: 100%;
}


@media screen and (max-width: 576px) {
  .card-content {
    font-size: 16px;
    word-wrap: break-word;
  }
}

@media screen and (max-width: 768px) {
  mat-card.posts-card {
    margin-top: 50px;
    margin-bottom: 35px;
  }
  
  .back-button {
    position: relative;
    bottom: 20px;
    margin-bottom: 40px;
  }
}