<div class="welcome-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <div class="header">
                    <img class="yummunity-header" src="/assets/img/yummunity-header.png" alt="yummunity-header">
                    <h2 class="title">Yummunity</h2>
                </div>
                <div>
                    <h4 class="welcome-title">Almost done! Just Little Bit About You</h4>
                </div>
            </mat-card-title>
        </mat-card-header>

        <form [formGroup]="welcomeForm" class="welcome-card">
            <div class="profile-image-container">
                <div class="profile-image-wrapper">
                    <img [src]="imagePreview || ''" alt="Profile picture">
                    <div class="image-upload-overlay">
                        <input type="file" (change)="onImageSelected($event)" accept="image/*" #fileInput id="profile_pic"
                            formControlName="user_profile_pic">
                        <mat-icon>photo_camera</mat-icon>
                        <span>Change Photo</span>
                    </div>
                </div>
            </div>

            <mat-form-field appearance="outline">
                <mat-label>Bio</mat-label>
                <textarea matInput #bio formControlName="user_bio" placeholder="Tell us about yourself"></textarea>
                <mat-hint align="end">{{bio.value.length}} / 50</mat-hint>
                <mat-error *ngIf="welcomeForm.controls['user_bio'].invalid">
                    <span *ngIf="welcomeForm.controls['user_bio'].errors?.['required']">Bio is required</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput formControlName="user_name" placeholder="Your name">
                <mat-error *ngIf="welcomeForm.controls['user_name'].invalid">
                    <span *ngIf="welcomeForm.controls['user_name'].errors?.['required']">Name is required</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="user_email"  placeholder="Enter email address">
                <mat-error *ngIf="welcomeForm.controls['user_email'].invalid">
                    <span *ngIf="welcomeForm.controls['user_email'].errors?.['required']">Name is required</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput formControlName="user_password"  [type]=" hide ? 'password' : 'text'" required />
                <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-pressed]="hide">
                <mat-icon>
                    {{hide ? 'visibility_off' : 'visibility'}}
                </mat-icon>
            </button>
            <mat-error *ngIf="!welcomeForm.controls['user_password'].valid">
                Password is required
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>User unique Tag</mat-label>
                <span matTextPrefix>&#64;&nbsp;</span>
                <input matInput formControlName="user_tag" placeholder="username">
                <mat-hint>Your unique username tag</mat-hint>
                <mat-error *ngIf="welcomeForm.controls['user_tag'].invalid">
                    <span *ngIf="welcomeForm.controls['user_tag'].errors?.['required']">Must have a unique Tag which is
                        required</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Location</mat-label>
                <input matInput formControlName="user_location" placeholder="Your location">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Select gender</mat-label>
                <mat-select disableRipple formControlName="user_gender">
                    <mat-option value="Male">Male</mat-option>
                    <mat-option value="Female">Female</mat-option>
                </mat-select>
                <mat-error *ngIf="welcomeForm.controls['user_gender'].invalid">
                    <span *ngIf="welcomeForm.controls['user_gender'].errors?.['required']">Gender is required</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>What's your birthday?</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="user_dob">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Add your Phone Number</mat-label>
                <input matInput placeholder="10 digit phone number" formControlName="user_phone_no" maxlength="10">
                <mat-icon matSuffix>call</mat-icon>
                <mat-error *ngIf="welcomeForm.controls['user_phone_no'].invalid && welcomeForm.controls['user_phone_no'].touched">
                    <span *ngIf="welcomeForm.controls['user_phone_no'].errors?.['required']">Phone number is required</span>
                    <span *ngIf="welcomeForm.controls['user_phone_no'].errors?.['pattern']">Invalid phone number format. Please enter a 10-digit number.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Favorite Food or Recipe</mat-label>
                <textarea matInput formControlName="user_fav_food_recipe"
                    placeholder="Tell us your favorite food or recipe"></textarea>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Website</mat-label>
                <input matInput formControlName="user_url" placeholder="Your website"><mat-icon matSuffix>web</mat-icon>
            </mat-form-field>

            <div class="button-container">
                <button mat-flat-button type="submit" (click)="onSubmit()" class="save-button" 
                    [disabled]="welcomeForm.invalid">Save
                    Changes</button>
            </div>
            <!-- <div class="button-container">
                <button mat-flat-button type="submit" (click)="saveChanges()" class="save-button" routerLink="/home-feed"
                    [disabled]="welcomeForm.invalid">Save
                    Changes</button>
            </div> -->

            <!-- <span>{{welcomeForm.value | json}}</span> -->
            <!-- <span>{{ welcomeForm.get('user_url')?.value | json }}</span> -->
        </form>
    </mat-card>
</div>






<div class="welcome-pic">
</div>