/* body {
    margin: 0;
    height: 100vh;
  } */
  

  
  /* .login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  } */

  mat-card {
    max-width: 450px;
    max-height: 832px;
    text-align: center;
    border-radius: 0px 45px 45px 0px;
    /* margin: 2em auto; */
  }

  .header{
    text-align: center;
  
  }
  .full-width {
    width: 80%;
  }
  
  .button-row {
    padding-top: 5px;
  }
  
  .button-row a {
    margin-right: 8px;
    text-align: center;
  }
  
  .forget-password{
    padding-left: 0px;
  }
  
  .emailInput{
    padding-top: 10px;
  }
  
  .contentBody {
    padding: 60px 1rem;
    background :#1b6ca8;
    display: block;
  }
  
  .aLink{
    float: right;
    padding-right: 60px;
    text-decoration: none;
  }
  