<!-- <app-side-nav-bar></app-side-nav-bar> -->
<app-sidenav></app-sidenav>
<app-post-container></app-post-container>

<!-- <div class="main-wrapper">
<mat-card appearance="outlined" class="post-container">
    <mat-card-content>
    </mat-card-content>
  </mat-card>
</div> -->



<div class="content-wrapper">
  <app-recipe-posts></app-recipe-posts>
</div>





















<button mat-fab extended color="primary" class="add-post" (click)="onAddPost('0ms', '0ms')">
  <mat-icon>post_add</mat-icon>
  Add Post
</button>