.recipe-post-comments-area{
    width: 100%;
}

.comment-tittle {
    font-size: 24px;
    margin: 15px;
    display: flex;
    align-items: center;
}

.comment-modal-content {
    display: flex;
    flex-direction: column;
  }
  
  .comment-section {
    max-height: 200px; /* Adjust the height based on your design */
    overflow-y: auto;
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  .comment-box {
    padding: 5px;
    border-bottom: 1px solid #ddd;
  }
  
  .full-width {
    width: 100%;
  }
  