<!-- Comment Modal Dialog -->
<!-- <mat-dialog-content *ngIf="commentModalOpen"> -->
<mat-dialog-content>
    <span class="comment-tittle">Post a Comment</span>
    <!-- <form class="recipe-post-comments"> -->
        <mat-form-field appearance="outline" class="recipe-post-comments-area">
            <mat-label>Write your comment</mat-label>
            <textarea matInput #comment [(ngModel)]="newComment" [ngModelOptions]="{standalone: true}" maxlength="200"
                placeholder="comment your thoughs..."></textarea>
            <mat-hint align="start"><strong>use different text formating</strong> </mat-hint>
            <mat-hint align="end">{{comment.value.length}} / 200</mat-hint>
        </mat-form-field>
    <!-- </form> -->
    <div class="modal-actions">
        <button mat-raised-button color="primary" (click)="postComment()">Post</button>
        <button mat-button (click)="onCancel()">Cancel</button>
      </div>
</mat-dialog-content>

<!-- <mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button [mat-dialog-close]="true">Comment</button>
</mat-dialog-actions> -->

<!-- <h2>Post a Comment</h2>
<mat-form-field appearance="fill">
  <mat-label>Write your comment</mat-label>
  <textarea matInput [(ngModel)]="comment"></textarea>
</mat-form-field>
<div class="modal-actions">
  <button mat-raised-button color="primary" (click)="onPostComment()">Post</button>
  <button mat-button (click)="onCancel()">Cancel</button>
</div> -->
