mat-card.posts-card {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%; /* Ensures the card spans the full width */
    max-width: 700px; /* Restricts the max width */
    border-radius: 8px; /* Optional: Add rounded corners */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
/* .posts-card {
    width: 100%;
    max-width: 700px;

} */

.card-content {
    padding: 7px;
    margin: 10px;
    font-size: 18px;
}

.profile-header-image {
    background-image: url('https://portfolio.paruidev.com/resources/about-me.jpg');
    background-size: cover;
}

.action-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-evenly;
    padding: 20px;
    margin: 10px;
}

.menu-button {
    margin-left: auto;
}


/* .card-content h3 {
    padding: 10px;
    font-size: 24px;

} */


@media screen and (max-width: 576px) {
    .card-content{
        font-size: 16px;
        word-wrap: break-word;
    }
}