<mat-spinner *ngIf="isLoading | async"></mat-spinner>

<div *ngIf="!(isLoading | async)">
  <!-- <app-text-post [posts]="posts"></app-text-post>
  <app-with-img-post [posts]="posts"></app-with-img-post> -->
  <app-text-post *ngIf="textPosts.length > 0" [posts]="textPosts"></app-text-post>
  <app-with-img-post *ngIf="withImgPosts.length > 0" [posts]="withImgPosts"></app-with-img-post>
  <app-blog-post [blogPosts]="blogPosts"></app-blog-post>
  <!-- <app-full-post></app-full-post> -->
</div>
<!-- <app-text-post></app-text-post>
  <app-with-img-post></app-with-img-post>
  <app-blog-post></app-blog-post> -->