
<app-sidenav></app-sidenav>


<!-- edit-account.component.html -->
<div class="edit-account-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Edit Account Details</mat-card-title>
        <button mat-icon-button class="back-button" (click)="goBack()" matTooltip="Go Back" matTooltipPosition="right"><mat-icon>arrow_back</mat-icon></button>
      </mat-card-header>
  
      <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
        <div class="profile-image-container">
          <div class="profile-image-wrapper">
            <img [src]="imagePreview || 'assets/default-avatar.png'" alt="Profile picture">
            <div class="image-upload-overlay">
              <input type="file" (change)="onImageSelected($event)" accept="image/*" #fileInput formControlName="user_profile_pic">
              <mat-icon>photo_camera</mat-icon>
              <span>Change Photo</span>
            </div>
          </div>
        </div>
  
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput formControlName="user_name" placeholder="Your name">
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>User unique Tag</mat-label>
          <input matInput formControlName="user_tag" placeholder="@username">
          <mat-hint>Your unique username tag</mat-hint>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Bio</mat-label>
          <textarea matInput formControlName="user_bio" placeholder="Tell us about yourself"></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Website</mat-label>
          <input matInput formControlName="user_url" placeholder="Your website">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Location</mat-label>
          <input matInput formControlName="user_location" placeholder="Your location">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Favorite Food or Recipe</mat-label>
          <textarea matInput formControlName="user_fav_food_recipe" placeholder="Tell us your favorite food or recipe"></textarea>
        </mat-form-field>
  
        <div class="button-container">
          <button type="submit" mat-flat-button (click)="saveChanges()">Save Changes</button>
        </div>
      </form>
    </mat-card>
  </div>