<!-- <button mat-flat-button (click)="navigateToPost()">
    <mat-icon>open_in_new</mat-icon>
    <span>
      Read More
    </span>
  </button> -->

<!-- <a mat-flat-button  [routerLink]="['/', userName, 'post', postId]"  -->
<!-- <a mat-flat-button routerLink="/fullpost"  class="btn btn-primary">
  <mat-icon>read_more</mat-icon> Read More
</a> -->

<button mat-flat-button class="btn btn-primary" (click)="navigateToFullPost(post)">
  <mat-icon>expand_content</mat-icon> Show More
</button>


<!-- <a [routerLink]="['/post', post.documentId]" class="read-more-button">
  Read More
</a> -->

<!-- <button mat-flat-button (click)="goToPost(post.documentId)">
  <mat-icon>open_in_new</mat-icon>
    <span>
      Read More
    </span>
</button> -->