
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  /* width: 50%;  */
  position: relative;
  z-index: 0;
  max-width: 730px;
  padding: 10px 15px;
  font-size: 16px;
  border: 0.1rem solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
}

mat-form-field {
  width: 100%;
}

.divider {
  margin-top: 5px;
  position: relative;
  z-index: 0;
  max-width: 740px;
  left: 50%;
  transform: translate(-50%);
}

p.suggestions-header {
  /* position: absolute;
  top: 20%;
  left: 15%; */
  margin-top: 5px;
  position: relative;
  z-index: 0;
  max-width: 740px;
  left: 50%;
  transform: translate(-50%);
}


mat-spinner {
  margin-top: 5px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.text-info-spinner{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
}


.meal-container {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.meal-card {
  margin: 10px;
  max-width: 700px;
}

.mat-card-image {

  height: 200px;
  object-fit: cover;
}


@media (max-width: 768px) {
    
  .search-container {
    /* margin: 20px auto; */
    margin: 3.43rem 0.75rem;
  }
}
