<app-sidenav></app-sidenav>

<app-post-container></app-post-container>


  <div class="search-container">
  <mat-form-field appearance="outline" class="search-bar">
    <input matInput type="search" placeholder="Search here" [(ngModel)]="searchQuery"> 
    <button matSuffix mat-icon-button aria-label="Search" (click)="onSearch()"><mat-icon>search</mat-icon></button>
    <!-- (input)="onSearch()" (click)="onSearch()" -->
  </mat-form-field>
</div>


<mat-spinner *ngIf="isLoading" [diameter]="70"></mat-spinner>


<!-- Displaying search results in a mat-card -->
<div class="meal-container" *ngIf="!isLoading && meals.length > 0">
  <mat-grid-list cols="2" gutterSize="20px">
  <mat-card *ngFor="let meal of meals" class="meal-card">
    <mat-card-header>
      <mat-card-title>{{ meal.strMeal }}</mat-card-title>
      <mat-card-subtitle>{{ meal.strCategory }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="meal.strMealThumb" alt="{{ meal.strMeal }}">
    <mat-card-content>
      <p>{{ meal.strInstructions | slice:0:150 }}...</p> <!-- Displaying first 150 characters of the instructions -->
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="openMealDetail(meal)">View Recipe</button>
    </mat-card-actions>
  </mat-card>
</mat-grid-list>
</div>

<!-- Show "No results found" only after loading and when there are no meals -->
<div class="text-info-spinner" *ngIf="hideShowText || !isLoading && meals.length == 0">
  No meals found.
</div>


<div class="divider" *ngIf="isSearchSuggestions">
  <mat-divider></mat-divider>
</div>
  
<p class="suggestions-header" *ngIf="isSearchSuggestions">Users whom to follow</p>


<app-search-suggestion-profile *ngIf="isSearchSuggestions"></app-search-suggestion-profile>

<!-- <app-search-suggestion-profile *ngIf="isSearchSuggestions"></app-search-suggestion-profile> -->


<app-trending-recipes-list *ngIf="isSearchSuggestions"></app-trending-recipes-list>


<!-- <div class="suggestions-container">
  <app-search-suggestion-profile></app-search-suggestion-profile>
</div> -->


<!-- <div class="divider">
  <mat-divider></mat-divider>
</div>
  
<p class="suggestions-header">Trending Recipes</p> -->