<app-sidenav></app-sidenav>

<app-post-container></app-post-container>


  <div class="search-container">
  <mat-form-field appearance="outline" class="search-bar">
    <input matInput type="search" placeholder="Search here">
    <button matSuffix mat-icon-button aria-label="Search"><mat-icon>search</mat-icon></button>
  </mat-form-field>
</div>

<div class="divider">
  <mat-divider></mat-divider>
</div>
  
<p class="suggestions-header">Users whom to follow</p>


<app-search-suggestion-profile></app-search-suggestion-profile>

<app-search-suggestion-profile></app-search-suggestion-profile>


<!-- <div class="suggestions-container">
  <app-search-suggestion-profile></app-search-suggestion-profile>
</div> -->


<!-- <div class="divider">
  <mat-divider></mat-divider>
</div>
  
<p class="suggestions-header">Trending Recipes</p> -->

<app-trending-recipes-list></app-trending-recipes-list>
