<!-- <app-side-nav-bar></app-side-nav-bar> -->
<app-sidenav></app-sidenav>
<app-post-container></app-post-container>

<!-- 
<div class="main-wrapper">
  <mat-card appearance="outlined" class="post-container">
    <mat-card-content>
    </mat-card-content>
  </mat-card>
</div> -->

<div class="content-wrapper">
  <div class="account-container">
    <h3 class="account-title">My Account</h3>
  </div>

  <!-- <mat-card class="profile-card mat-elevation-z4">
    <div class="profile-details">
      <div class="profile-left">
        <div class="user-info">
          <h3>{{ name }}</h3>
          <p>{{ description }}</p>
          <p>{{ username }}</p>
        </div>
        <div class="avatar">
          <div mat-card-avatar class="profile-card-image"></div>
        </div>
      </div>
      <div class="profile-right">
        <p><a href={{linkUrl}} target="_blank">{{link}}</a></p>
        <p>users since {{Month}} 2024</p>
      </div>
      <button mat-icon-button matTooltip="comming soon" class="edit-button">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </mat-card> -->
 <!--! reminder : must add the follow and edit buttons to the account component   -->

  <mat-card class="profile-card mat-elevation-z4">
    <div class="profile-header">
      <div class="avatar">
        <div mat-card-avatar alt="Profile" class="profile-card-image"></div>
      </div>
      <div class="profile-info">
        <h3 class="name">{{ name }}</h3>
        <p class="username">{{ username }}</p>
        <p class="description">{{ description }}</p>
      </div>
    </div>
  
    <div class="profile-footer">
      <div
        class="info-toggle-group"
        appearance="standard"
        multiple
      >
        <h6>
          Recipes & Blog: {{ recipesCount }}
        </h6>
        <h6>
          Followers: {{ followersCount }}
        </h6>
        <h6>
          Yummunity Rating: {{ yummunityRating }}
        </h6>
      </div>
    </div>
  </mat-card>
  

</div>

<!-- <div class="profile-info-container">
  <mat-button-toggle-group name="profile-info" aria-label="profile-info" multiple>
    <mat-button-toggle disabled="true" value="recipies & blog list">Recipes & Blog :{{ recipesCount }}</mat-button-toggle>
    <mat-button-toggle disabled="true" value="followers"> Followers: {{ followersCount }}</mat-button-toggle>
    <mat-button-toggle disabled="true" value="rating"> Yummunity Rating: {{ yummunityRating }} </mat-button-toggle>
  </mat-button-toggle-group>
</div> -->

<div class="profile-tab-container">
  <mat-tab-group color="accent" class="profile-tab" dynamicHeight>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="profile-tab-icon">mood</mat-icon>
        Recipes Shares
      </ng-template>
      <!-- ! Content 1 -->
      <app-text-post></app-text-post>
      <app-with-img-post></app-with-img-post>
      <!-- <div class="recipes-content-wrapper">
        <mat-card appearance="outlined" class="posts-card">
          <mat-card-content class="card-content">
            <h3>Did you know that ?</h3>
            <p>A hen lays around 300 to 325 eggs per year, and it takes her 24 to 26 hours to produce each egg</p>
          </mat-card-content>
          <mat-card-actions class="action-buttons">
            <button mat-flat-button><mat-icon>favorite</mat-icon>Like</button>
            <button mat-raised-button><mat-icon>comment</mat-icon>Comment</button>
            <button mat-raised-button><mat-icon>bookmark</mat-icon>Save</button>
            <button mat-stroked-button><mat-icon>more_horiz</mat-icon>Read More</button>
          </mat-card-actions>
        </mat-card>

        <mat-card appearance="outlined" class="posts-card">
          <mat-card-content class="card-content">
            <h3>Did you know that ?</h3>
            <p>egg is not non veg it's a veg</p>
          </mat-card-content>
          <mat-card-actions class="action-buttons">
            <button mat-flat-button><mat-icon>favorite</mat-icon>Like</button>
            <button mat-raised-button><mat-icon>comment</mat-icon>Comment</button>
            <button mat-raised-button><mat-icon>bookmark</mat-icon>Save</button>
            <button mat-stroked-button><mat-icon>more_horiz</mat-icon>Read More</button>
          </mat-card-actions>
        </mat-card>

        <mat-card class="posts-card" appearance="outlined">
          <mat-card-header>
            <div mat-card-avatar class="profile-header-image"></div>
            <mat-card-title>Pratap Parui</mat-card-title>
            <mat-card-subtitle>Developer|Food Critics</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="/assets/posts-img/food1.jpg"
            alt="White and Brown Cooked Dish on White Ceramic Bowls">
          <mat-card-content class="card-content">
            <p>
              The dish in the image appears to be a version of rice served with a flavorful curry or stew. Rice is a
              staple food globally and is often paired with nutrient-rich vegetables, beans, or meats. This particular
              combination provides a balanced meal, with rice offering carbohydrates and the curry contributing protein,
              vitamins, and healthy fats.
            </p>
            <ul>Health benefits of such a meal include:
              <li> Boosting energy through complex carbohydrates.</li>
              <li> Offering fiber for better digestion.</li>
              <li> Supplying essential nutrients like iron, potassium, and vitamin C, depending on the vegetables and spices used.</li>
            </ul>

          </mat-card-content>
          <mat-card-actions class="action-buttons">
            <button mat-flat-button><mat-icon>favorite</mat-icon>Like</button>
            <button mat-raised-button><mat-icon>comment</mat-icon>Comment</button>
            <button mat-raised-button><mat-icon>bookmark</mat-icon>Save</button>
            <button mat-stroked-button><mat-icon>more_horiz</mat-icon>Read More</button>
          </mat-card-actions>
        </mat-card>

      </div> -->

    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="profile-tab-icon">library_books</mat-icon>
        Blogs
      </ng-template>
      <!-- ! Content 2 -->
      <app-blog-post></app-blog-post>
      <!-- <div class="blogs-content-wrapper">
        <mat-card class="posts-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title class="blog-title">{{blogTitle}}</mat-card-title>
          </mat-card-header>
          <mat-card-content class="blog-card-content">
            <div class="blog-text">
              <p>{{longText}}</p>
            </div>
            <div class="blog-thumbnail">
              <img mat-card-image src="https://pinchofyum.com/cdn-cgi/image/width=680,height=99999,fit=scale-down/wp-content/uploads/Summer-Cobb-Salad-in-Bowl.jpg"
                alt="Summer Chipotle Chicken">
            </div>
          </mat-card-content>

          <mat-card-footer class="blog-post-card-footer">
            <mat-chip-set aria-label="Chihuahua traits">
              <mat-chip>Healthy</mat-chip>
              <mat-chip>Non-Veg</mat-chip>
              <mat-chip>Chicken recipe</mat-chip>
            </mat-chip-set>
            <a mat-icon-button href="https://pinchofyum.com/summer-chipotle-chicken-cobb-salad-with-cilantro-vinaigrette" target="_blank" matTooltip="Open in new tab">
              <mat-icon>open_in_new</mat-icon></a>
          </mat-card-footer>
        </mat-card>
      </div> -->
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="profile-tab-icon">bookmarks</mat-icon>
        Saves
      </ng-template>

      <!-- ! Content 3 -->
       
       <!-- ? Need to implement the ngfor here to display the saved posts using boolean value  -->

      <div class="save-content-wrapper">
        <mat-card appearance="outlined" class="posts-card">
          <mat-card-content class="card-content">
            <h3>Did you know that ?</h3>
            <p>A hen lays around 300 to 325 eggs per year, and it takes her 24 to 26 hours to produce each egg</p>
          </mat-card-content>
          <mat-card-actions class="action-buttons">
            <button mat-flat-button><mat-icon>favorite</mat-icon>Like</button>
            <button mat-raised-button><mat-icon>comment</mat-icon>Comment</button>
            <button mat-flat-button><mat-icon>bookmark</mat-icon>Saved</button>
            <button mat-stroked-button><mat-icon>more_horiz</mat-icon>Read More</button>
          </mat-card-actions>
        </mat-card>
      </div>

    </mat-tab>
  </mat-tab-group>

</div>

<app-bottom-nav></app-bottom-nav>