
<!-- <app-side-nav-bar></app-side-nav-bar> -->
<app-sidenav></app-sidenav>


<div class="main-wrapper">
  <mat-card appearance="outlined" class="post-container">
      <mat-card-content>        
      </mat-card-content>
    </mat-card>
</div>



  <div class="content-wrapper">
    <div class="account-container">
      <h3>My Account</h3>
    </div>
    <mat-card class="profile-card">
      <div class="profile-details">
        <div class="profile-left">
          <div class="avatar">
            <mat-icon>person</mat-icon>
          </div>
          <div class="user-info">
            <h3>user_name</h3>
            <p>user_bio / designation</p>
            <p>user_unique-id</p>
          </div>
        </div>
        <div class="profile-right">
          <p>any links</p>
          <p>users since 2024</p>
        </div>
        <button mat-icon-button class="edit-button">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
  