<!-- <mat-card appearance="outlined" class="posts-card">
  <mat-card-header>
    <div mat-card-avatar class="profile-header-image"></div>
    <mat-card-title>{{user_name}}</mat-card-title>
    <mat-card-subtitle>{{user_bio}}</mat-card-subtitle>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="sharePost()">
        <mat-icon>share</mat-icon>
        <span>Share Post</span>
      </button>
      <button mat-menu-item>
        <mat-icon>report</mat-icon>
        <span>Report</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>campaign</mat-icon>
        <span>Promote</span>
      </button>
    </mat-menu>
  </mat-card-header>
  <mat-card-content class="card-content">
    <p><b>Did you know that ?:</b>A hen lays around 300 to 325 eggs per year, and it takes her 24 to 26 hours to produce
      each egg
    </p>
    <ul>Health benefits of such a meal include:
      <li> Boosting energy through complex carbohydrates.</li>
      <li> Offering fiber for better digestion.</li>
      <li> Supplying essential nutrients like iron, potassium, and vitamin C, depending on the vegetables and spices
        used.</li>
    </ul>
  </mat-card-content>
  <app-post-activity></app-post-activity>
</mat-card> -->

<div>
  <mat-card *ngFor="let post of posts" appearance="outlined" class="posts-card">
    <mat-card-header>
      <div mat-card-avatar class="profile-header-image"></div>
      <mat-card-title>{{ post.user_name || 'Anonymous' }}</mat-card-title>
      <mat-card-subtitle>{{ post.user_bio || 'love food' }}</mat-card-subtitle>
      <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="sharePost()">
          <mat-icon>share</mat-icon>
          <span>Share Post</span>
        </button>
        <button mat-menu-item>
          <mat-icon>report</mat-icon>
          <span>Report</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>campaign</mat-icon>
          <span>Promote</span>
        </button>
      </mat-menu>
    </mat-card-header>
    <mat-card-content class="card-content">
      <markdown [data]="post.post_Content" ngPreserveWhitespaces></markdown>
      <!-- <p><b>Did you know that ?:</b>egg is not non veg it's a veg</p> -->
    </mat-card-content>
    <!-- <app-post-activity *ngFor="let post of posts" [post]="post"></app-post-activity> -->
    <app-post-activity *ngIf="post" [post]="post"></app-post-activity>
  </mat-card>
</div>